/* Work sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
    font-family: "Lato",sans-serif;
}
/* header styles */
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
header{
    background-color: #ff8f0e2b;
    color: #131313;
    padding: 25px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.des{
    grid-area: des;
}
.title{
    grid-area: title;
}
nav{
    display: grid;
    grid-template-areas: 
    "title  des"
    ;
}
header ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    /* gap: 1rem; */
}
header a{
    text-decoration: none;
    color: #131313;
}
nav li{
    margin-right: 2rem;
    font-size:1.125rem;
}
header h3{
    font-size: 2.813rem;
    font-weight: bold;
}
/* banner */
.cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.cap>h2{
    color: #131313;
    font-weight: bold;
    font-size: 4rem ;
}
.cap>p{
    font-size: 1rem;
    color: #727272;
}
/* primary btn */
.btn{
    background-color: #FF900E;
    color: white;
    border-radius: 0.5rem;
    width: 11.25rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    border:none;
    margin: 0.5rem;
    cursor: pointer;
}
.btn:hover{
    background-color: #727272;
}
.prof{
    border: 2px solid tomato;
    width: 100%;
}
.prof>img{
    width: 100%;
    border-radius: 0.5rem;
}
.cls1{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
}
.cls1-img{
    border: 2px solid tomato;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    /* gap: 0.1rem; */
    /* justify-content: end; */
    align-items: center;
}
.cls1-cap>h3{
    font-size: 2.813rem;
}
.cls1-cap>p{
    font-size: 1rem;
    color: #727272;
}
.cls1-img>img{
    width: 50%;
    height: 50%;
}

/* mobile */
@media screen and (max-width:992px) {
    body{
        align-items: center;
    }
    header{
        padding: .1rem;
    }
    .title{
        text-align: center;
        grid-area: title;
    }
    .des{
        grid-area: des;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0px;
        padding: 1px;
        align-items: center;
    }
    nav{
        display: grid;
        grid-template-areas: "title" "des";
    }
}